.parentbox *{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	-moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
.parentbox{
 	width: 100%;
 	height:100%;
 	background-color:rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    left:0;
    z-index:999999;
} 
.parentbox .alertbox{
 	position:fixed;
    background-color:#fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    min-height:180px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    -ms-box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.parentbox .closeicon{
 	position:absolute;
    right:20px;
    top: 0;
    height:50;
    line-height:50px;
    text-align:right;
    font-size: 26px;
    color:#fff;
    z-index:9;
    cursor:pointer;
}
.parentbox .alertbox .wrappbox{
 	position:relative;
    width:100%;
    height:50px;
    border-top-left-radius:5px;
    -webkit-border-top-left-radius:5px;
    -ms-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -webkit-border-top-right-radius:5px;
    -ms-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    line-height:50px;
    color:#fff;
    padding-left:20px;
    cursor:move;
}
.parentbox .alertbox .contentbox{
 	text-align:center;
    margin:20px 0;
}
.parentbox .alertbox .contentbox i{
 	display:inline-block;
    width:30px;
    height:30px;
    background:url('../Images/popupicon.png') no-repeat;
    vertical-align: top;
    margin-right:10px;
}
.parentbox .alertbox .contentbox span{
 	vertical-align: sub;
}
.parentbox .alertbox .confirmbox{
 	height:40px;
    width:50%;
    margin-left:25%;
    text-align:center;
    margin-bottom:20px;
}
.parentbox .alertbox .confirmbox .confirmbutton,.parentbox .alertbox .confirmbox .cancelbutton{
 	display:inline-block;
    height:30px;
    line-height:30px;
    padding:0 15px;
    color:#fff;
    margin-top:10px;
    text-align:center;
    background-color:#EC6D51;
    border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    cursor:pointer;
}
.parentbox .alertbox .form{
	position: relative;
	padding: 0 20px;
	margin: 20px auto;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 245px;
}
.parentbox .alertbox .form .form-item{
	margin-bottom: 15px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.parentbox .alertbox .form .form-item:after{
	clear: both;
	content: '';
	display: block;
}
.parentbox .alertbox .form .form-item .form-label{
	float: left;
    display: block;
    padding: 9px 15px;
    line-height: 1;
    text-align: center;
}
.parentbox .alertbox .form .form-item .input-block{
	min-height: 36px;
	display: block;
    max-width: 100%;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
	background-color: #fff;
	border-radius: 2px;
	outline: 0;
}
.parentbox .alertbox .form .form-item .input-block:hover{
	border-color: #D2D2D2;
}
.parentbox .alertbox .form .form-item .input-block:focus{
	border-color: #c9c9c9 !important;
}
.tipsbox{
	position: absolute;
	padding: 5px 10px;
	white-space: nowrap;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
    line-height: 1;
}
.tipsbox .tipsBoxTriangle{
	width: 0;
    height: 0;
    position: absolute;
}