*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
.form{
	position: relative;
	padding: 0 20px;
	margin: 20px auto;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 245px;
}
.form-item{
	margin-bottom: 15px;
	display: flex;
	display: -webkit-flex;
	display: -o-flex;
	display: -moz-flex;
	display:-ms-flexbox;
	justify-content:center;
	-webkit-justify-content:center;
	-o-justify-content:center;
	-moz-justify-content:center;
	-ms-flex-pack:center;
}
.form-item:after{
	clear: both;
	content: '';
	display: block;
}
.form-label{
	float: left;
    display: block;
    padding: 9px 15px;
    line-height: 1;
    text-align: center;
}
.input-block{
	min-height: 36px;
	display: block;
    max-width: 100%;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
	background-color: #fff;
	border-radius: 2px;
	outline: 0;
}
.input-block:hover{
	border-color: #D2D2D2;
}
.input-block:focus{
	border-color: #c9c9c9 !important;
}